/*
* @Author: cafe
* @Date:   2017/02/24 13:34:15
* @Last Modified by:   Cafe
* @Last Modified time: 2017/04/08 22:23:50
*/
@import "./variable"

/* table */
.el-table__header-wrapper thead div
  color $color-black-light
.el-table--enable-row-hover tr:hover > td
  background-color #fafcfe
.el-table .cell
  color #555
  padding-top 5px
  padding-bottom 5px

/* button */
.el-button--default.is-outline:hover,
.el-button--default.is-outline:focus
  background $color-white
  border 1px solid $color-border
  color rgb(31, 49, 61)
.el-button--primary.is-outline
  background $color-white
  border 1px solid $color-primary
  color $color-primary
.el-button--success.is-outline
  background $color-white
  border 1px solid $color-success
  color $color-success
.el-button--warning.is-outline
  background $color-white
  border 1px solid $color-warning
  color $color-warning
.el-button--danger.is-outline
  background $color-white
  border 1px solid $color-danger
  color $color-danger
.el-button--info.is-outline
  background $color-white
  border 1px solid $color-info
  color $color-info

/* input-group */
.input-group
  display flex
  .el-input__inner
    border-radius 4px 0 0 4px
  .el-button
    border-radius 0 4px 4px 0

/* text style */
.text--left { text-align: left }
.text--right { text-align: right }
.text--center { text-align: center }
.text--justify { text-align: justify }
.text--nowrap { white-space: nowrap }
.text--lowercase { text-transform: lowercase }
.text--uppercase { text-transform: uppercase }
.text--capitalize { text-transform: capitalize }
.text--hide { font: 0/0 a; color: transparent; text-shadow: none; background-color: transparent; border: 0 }

/* text color */
.text--default { color: $color-black }
.text--primary { color: $color-primary }
.text--success { color: $color-success }
.text--warning { color: $color-warning }
.text--danger { color: $color-danger }
.text--info { color: $color-info }
.text--muted { color: #555 }
.text--gray { color: #999 }

/* background-color */
.bg--white { background-color: $color-white }
.bg--primary { background-color: $color-primary }
.bg--success { background-color: $color-success }
.bg--warning { background-color: $color-warning }
.bg--danger { background-color: $color-danger }
.bg--info { background-color: $color-info }

/* font-size */
.fs-xxs { font-size: 12px }
.fs-xs { font-size: 14px }
.fs-sm { font-size: 16px }
.fs-md { font-size: 18px }
.fs-lg { font-size: 20px }
.fs-xl { font-size: 30px }

/* padding */
.p-n {padding: 0 !important}
.p-xxs { padding: 5px }
.p-xs { padding: 10px }
.p-sm { padding: 15px }
.p { padding: 20px }
.p-md { padding: 25px }
.p-lg { padding: 30px }
.p-xl { padding: 40px }
.p-tb-xxs { padding: 5px 0 }
.p-tb-xs { padding: 10px 0 }
.p-tb-sm { padding: 15px 0 }
.p-tb { padding: 20px 0 }
.p-tb-md { padding: 25px 0 }
.p-tb-lg { padding: 30px 0 }
.p-tb-xl { padding: 40px 0 }
.p-lr-xxs { padding: 0 5px }
.p-lr-xs { padding: 0 10px }
.p-lr-sm { padding: 0 15px }
.p-lr { padding: 0 20px }
.p-lr-md { padding: 0 25px }
.p-lr-lg { padding: 0 30px }
.p-lr-xl { padding: 0 40px }

/* margin */
.m-n { margin: 0 !important }
.m-xxs { margin: 2px 4px }
.m-xs { margin: 5px }
.m-sm { margin: 10px }
.m { margin: 15px }
.m-md { margin: 20px }
.m-lg { margin: 30px }
.m-xl { margin: 40px }
.m-tb-xxs { margin: 5px 0 }
.m-tb-xs { margin: 10px 0 }
.m-tb-sm { margin: 15px 0 }
.m-tb { margin: 20px 0 }
.m-tb-md { margin: 25px 0 }
.m-tb-lg { margin: 30px 0 }
.m-tb-xl { margin: 40px 0 }
.m-lr-xxs { margin: 0 5px }
.m-lr-xs { margin: 0 10px }
.m-lr-sm { margin: 0 15px }
.m-lr { margin: 0 20px }
.m-lr-md { margin: 0 25px }
.m-lr-lg { margin: 0 30px }
.m-lr-xl { margin: 0 40px }

/* margin-left */
.m-l-none { margin-left: 0 }
.m-l-xxs { margin-left: 5px }
.m-l-xs { margin-left: 10px }
.m-l-sm { margin-left: 15px }
.m-l { margin-left: 20px }
.m-l-md { margin-left: 25px }
.m-l-lg { margin-left: 30px }
.m-l-xl { margin-left: 40px }
.m-l-n-xxs { margin-left: -5px }
.m-l-n-xs { margin-left: -10px }
.m-l-n-sm { margin-left: -15px }
.m-l-n { margin-left: -20px }
.m-l-n-md { margin-left: -25px }
.m-l-n-lg { margin-left: -30px }
.m-l-n-xl { margin-left: -40px }

/* margin-top */
.m-t-none { margin-top: 0 }
.m-t-xxs { margin-top: 5px }
.m-t-xs { margin-top: 10px }
.m-t-sm { margin-top: 15px }
.m-t { margin-top: 20px }
.m-t-md { margin-top: 25px }
.m-t-lg { margin-top: 30px }
.m-t-xl { margin-top: 40px }
.m-t-n-xxs { margin-top: -5px }
.m-t-n-xs { margin-top: -10px }
.m-t-n-sm { margin-top: -15px }
.m-t-n { margin-top: -20px }
.m-t-n-md { margin-top: -25px }
.m-t-n-lg { margin-top: -30px }
.m-t-n-xl { margin-top: -40px }

/* margin-right */
.m-r-none { margin-right: 0 }
.m-r-xxs { margin-right: 5px }
.m-r-xs { margin-right: 10px }
.m-r-sm { margin-right: 15px }
.m-r { margin-right: 20px }
.m-r-md { margin-right: 25px }
.m-r-lg { margin-right: 30px }
.m-r-xl { margin-right: 40px }
.m-r-n-xxs { margin-right: -5px }
.m-r-n-xs { margin-right: -10px }
.m-r-n-sm { margin-right: -15px }
.m-r-n { margin-right: -20px }
.m-r-n-md { margin-right: -25px }
.m-r-n-lg { margin-right: -30px }
.m-r-n-xl { margin-right: -40px }

/* margin-bottom */
.m-b-none { margin-bottom: 0 }
.m-b-xxs { margin-bottom: 5px }
.m-b-xs { margin-bottom: 10px }
.m-b-sm { margin-bottom: 15px }
.m-b { margin-bottom: 20px }
.m-b-md { margin-bottom: 25px }
.m-b-lg { margin-bottom: 30px }
.m-b-xl { margin-bottom: 40px }
.m-b-n-xxs { margin-bottom: -5px }
.m-b-n-xs { margin-bottom: -10px }
.m-b-n-sm { margin-bottom: -15px }
.m-b-n { margin-bottom: -20px }
.m-b-n-md { margin-bottom: -25px }
.m-b-n-lg { margin-bottom: -30px }
.m-b-n-xl { margin-bottom: -40px }

/* other */
.center--block { display: block; margin-right: auto; margin-left: auto }

.pull--right { float: right !important }
.pull--left { float: left !important }

.hide { display: none !important }
.show { display: block !important }
.invisible { visibility: hidden }

.affix { position: fixed }
.clearfix:after { content: '\20'; display: block; height: 0; clear: both; }
.clearfix { *zoom: 1; }

/* icon */
[class*="wl-icon-"],
[class^=wl-icon-] {
  font-family: 'welian-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* sizer */
.wl-sizer
  position relative
  border 1px solid #e5e5e5
  &__wrapper
    position relative
    display flex
    border-bottom 1px solid #e5e5e5
    background-color #fff
    &:last-child
      border-bottom none

  &__name
    width 100px
    line-height 50px
    text-align center
    background-color #f9f9f9
  &__values
    flex 1
    ul
      height 50px
      overflow hidden
      padding-right 68px
    li
      float left
      line-height 50px
      margin 0 20px
      label
        cursor pointer
      input[type=radio]:checked + label
        color $color-primary

    &__more
      position absolute
      right 20px
      top 15px
