@charset "UTF-8";
:root{
    /* Transition
  -------------------------- */
    /* Colors
  -------------------------- */
    /* Link
  -------------------------- */
    /* Border
  -------------------------- */
    /* Box-shadow
  -------------------------- */
    /* Fill
  -------------------------- */
    /* Font
  -------------------------- */
    /* Size
  -------------------------- */
    /* z-index
  -------------------------- */
    /* Disable base
  -------------------------- */
    /* Icon
  -------------------------- */
    /* Checkbox
  -------------------------- */
    /* Radio
  -------------------------- */
    /* Select
  -------------------------- */
    /* Alert
  -------------------------- */
    /* Message Box
  -------------------------- */
    /* Message
  -------------------------- */
    /* Notification
  -------------------------- */
    /* Input
  -------------------------- */
    /* Cascader
  -------------------------- */
    /* Group
  -------------------------- */
    /* Tab
  -------------------------- */
    /* Button
  -------------------------- */
    /* cascader
  -------------------------- */
    /* Switch
 -------------------------- */
    /* Dialog
 -------------------------- */
    /* Table
 -------------------------- */
    /* Pagination
 -------------------------- */
    /* Popover
 -------------------------- */
    /* Tooltip
  -------------------------- */
    /* Tag
  -------------------------- */
    /* Dropdown
  -------------------------- */
    /* Badge
  -------------------------- */
    /* Card
  --------------------------*/
    /* Slider
  --------------------------*/
    /* Steps
  --------------------------*/
    /* Menu
  --------------------------*/
    /* Rate
  --------------------------*/
    /* DatePicker
  --------------------------*/
    /* Loading
  --------------------------*/
    /* Scrollbar
  --------------------------*/
    /* Carousel
  --------------------------*/
    /* Collapse
  --------------------------*/
}

.el-breadcrumb{
    font-size: 13px;
    line-height: 1
}

.el-breadcrumb:before, .el-breadcrumb:after{
    display: table;
    content: ""
}

.el-breadcrumb:after{
    clear: both
}

.el-breadcrumb__separator{
    margin: 0 8px;
    color: rgb(191, 207, 217)
}

.el-breadcrumb__item{
    float: left
}

.el-breadcrumb__item:last-child .el-breadcrumb__item__inner, .el-breadcrumb__item:last-child .el-breadcrumb__item__inner a{}

.el-breadcrumb__item:last-child .el-breadcrumb__item__inner, .el-breadcrumb__item:last-child .el-breadcrumb__item__inner:hover, .el-breadcrumb__item:last-child .el-breadcrumb__item__inner a, .el-breadcrumb__item:last-child .el-breadcrumb__item__inner a:hover{
    color: rgb(151, 173, 190);
    cursor: text
}

.el-breadcrumb__item:last-child .el-breadcrumb__separator{
    display: none
}

.el-breadcrumb__item__inner{}

.el-breadcrumb__item__inner, .el-breadcrumb__item__inner a{
    transition: color .15s linear;
    color: #555
}

.el-breadcrumb__item__inner:hover, .el-breadcrumb__item__inner a:hover{
    color: #04a6e9;
    cursor: pointer
}
:root{
    /* Transition
  -------------------------- */
    /* Colors
  -------------------------- */
    //: rgb(250, 253, 255);
    //: rgb(72, 92, 106);
    //: rgb(209, 221, 229);
    /* Link
  -------------------------- */
    /* Border
  -------------------------- */
    //: rgb(191, 207, 217);
    /* Box-shadow
  -------------------------- */
    /* Fill
  -------------------------- */
    /* Font
  -------------------------- */
    /* Size
  -------------------------- */
    /* z-index
  -------------------------- */
    /* Disable base
  -------------------------- */
    //: rgb(238, 242, 246);
    /* Icon
  -------------------------- */
    /* Checkbox
  -------------------------- */
    //: rgb(31, 49, 61);
    /* Radio
  -------------------------- */
    //: rgb(31, 49, 61);
    /* Select
  -------------------------- */
    //: rgb(191, 207, 217);
    /* Alert
  -------------------------- */
    /* Message Box
  -------------------------- */
    /* Message
  -------------------------- */
    /* Notification
  -------------------------- */
    /* Input
  -------------------------- */
    //: rgb(191, 207, 217);
    //: rgb(151, 173, 190);
    /* Cascader
  -------------------------- */
    /* Group
  -------------------------- */
    /* Tab
  -------------------------- */
    /* Button
  -------------------------- */
    /* cascader
  -------------------------- */
    /* Switch
 -------------------------- */
    //: rgb(191, 207, 217);
    /* Dialog
 -------------------------- */
    /* Table
 -------------------------- */
    //: rgb(236, 223, 223);
    //: rgb(238, 242, 246);
    /* Pagination
 -------------------------- */
    /* Popover
 -------------------------- */
    /* Tooltip
  -------------------------- */
    /* Tag
  -------------------------- */
    /* Dropdown
  -------------------------- */
    //: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .12);
    //: rgb(228, 234, 241);
    //: #555
    /* Badge
  -------------------------- */
    /* Card
  --------------------------*/
    /* Slider
  --------------------------*/
    /* Steps
  --------------------------*/
    /* Menu
  --------------------------*/
    /* Rate
  --------------------------*/
    /* DatePicker
  --------------------------*/
    /* Loading
  --------------------------*/
    /* Scrollbar
  --------------------------*/
    /* Carousel
  --------------------------*/
    /* Collapse
  --------------------------*/
}