@charset "UTF-8";
:root{
    /* Transition
  -------------------------- */
    /* Colors
  -------------------------- */
    /* Link
  -------------------------- */
    /* Border
  -------------------------- */
    /* Box-shadow
  -------------------------- */
    /* Fill
  -------------------------- */
    /* Font
  -------------------------- */
    /* Size
  -------------------------- */
    /* z-index
  -------------------------- */
    /* Disable base
  -------------------------- */
    /* Icon
  -------------------------- */
    /* Checkbox
  -------------------------- */
    /* Radio
  -------------------------- */
    /* Select
  -------------------------- */
    /* Alert
  -------------------------- */
    /* Message Box
  -------------------------- */
    /* Message
  -------------------------- */
    /* Notification
  -------------------------- */
    /* Input
  -------------------------- */
    /* Cascader
  -------------------------- */
    /* Group
  -------------------------- */
    /* Tab
  -------------------------- */
    /* Button
  -------------------------- */
    /* cascader
  -------------------------- */
    /* Switch
 -------------------------- */
    /* Dialog
 -------------------------- */
    /* Table
 -------------------------- */
    /* Pagination
 -------------------------- */
    /* Popover
 -------------------------- */
    /* Tooltip
  -------------------------- */
    /* Tag
  -------------------------- */
    /* Dropdown
  -------------------------- */
    /* Badge
  -------------------------- */
    /* Card
  --------------------------*/
    /* Slider
  --------------------------*/
    /* Steps
  --------------------------*/
    /* Menu
  --------------------------*/
    /* Rate
  --------------------------*/
    /* DatePicker
  --------------------------*/
    /* Loading
  --------------------------*/
    /* Scrollbar
  --------------------------*/
    /* Carousel
  --------------------------*/
    /* Collapse
  --------------------------*/
}

.el-select-dropdown{}

.el-select-dropdown__item{
    font-size: 14px;
    padding: 8px 10px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #555;
    height: 36px;
    line-height: 1.5;
    box-sizing: border-box;
    cursor: pointer
}

.el-select-dropdown__item.hover{
    background-color: rgb(228, 234, 241)
}

.el-select-dropdown__item.selected{
    color: #fff;
    background-color: #04a6e9
}

.el-select-dropdown__item.selected.hover{
    background-color: rgb(4, 146, 205)
}

.el-select-dropdown__item span{
    line-height: 1.5 !important
}

.el-select-dropdown__item.is-disabled{
    color: rgb(191, 207, 217);
    cursor: not-allowed
}

.el-select-dropdown__item.is-disabled:hover{
    background-color: #fff
}
:root{
    /* Transition
  -------------------------- */
    /* Colors
  -------------------------- */
    //: rgb(250, 253, 255);
    //: rgb(72, 92, 106);
    //: rgb(209, 221, 229);
    /* Link
  -------------------------- */
    /* Border
  -------------------------- */
    //: rgb(191, 207, 217);
    /* Box-shadow
  -------------------------- */
    /* Fill
  -------------------------- */
    /* Font
  -------------------------- */
    /* Size
  -------------------------- */
    /* z-index
  -------------------------- */
    /* Disable base
  -------------------------- */
    //: rgb(238, 242, 246);
    /* Icon
  -------------------------- */
    /* Checkbox
  -------------------------- */
    //: rgb(31, 49, 61);
    /* Radio
  -------------------------- */
    //: rgb(31, 49, 61);
    /* Select
  -------------------------- */
    //: rgb(191, 207, 217);
    /* Alert
  -------------------------- */
    /* Message Box
  -------------------------- */
    /* Message
  -------------------------- */
    /* Notification
  -------------------------- */
    /* Input
  -------------------------- */
    //: rgb(191, 207, 217);
    //: rgb(151, 173, 190);
    /* Cascader
  -------------------------- */
    /* Group
  -------------------------- */
    /* Tab
  -------------------------- */
    /* Button
  -------------------------- */
    /* cascader
  -------------------------- */
    /* Switch
 -------------------------- */
    //: rgb(191, 207, 217);
    /* Dialog
 -------------------------- */
    /* Table
 -------------------------- */
    //: rgb(236, 223, 223);
    //: rgb(238, 242, 246);
    /* Pagination
 -------------------------- */
    /* Popover
 -------------------------- */
    /* Tooltip
  -------------------------- */
    /* Tag
  -------------------------- */
    /* Dropdown
  -------------------------- */
    //: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .12);
    //: rgb(228, 234, 241);
    //: #555
    /* Badge
  -------------------------- */
    /* Card
  --------------------------*/
    /* Slider
  --------------------------*/
    /* Steps
  --------------------------*/
    /* Menu
  --------------------------*/
    /* Rate
  --------------------------*/
    /* DatePicker
  --------------------------*/
    /* Loading
  --------------------------*/
    /* Scrollbar
  --------------------------*/
    /* Carousel
  --------------------------*/
    /* Collapse
  --------------------------*/
}